* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    min-height: 100vh;
}

.container {
    width: 100%;
}

@media (max-width: 640px) {
    .container {
        max-width: 640px;
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 768px;
    }
}

@media (max-width: 1024px) {
    .container {
        max-width: 1024px;
    }
}

@media (max-width: 1280px) {
    .container {
        max-width: 1280px;
    }
}

@media (max-width: 1536px) {
    .container {
        max-width: 1536px;
    }
}
